
body {
    margin: 0;
    padding: 0;
}

h2, p {
    margin: 10px;
}

.menu, .menu ul{
    line-height: 1;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.menu{
    display: block;
    position: relative;
    height: 47px;
    width: 100%;
    background: #333333;

}

ul li {
    float: left;
    display: block;
    position: relative;
}

ul li:last-child {
    border-right: none;
}

ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul li a:hover:not(.active) {
    background-color: #111111;
}
.dropdown{
    /*  display: none;*/
    display: block;
    position: absolute;
    opacity: 0;
    background: #333333;

    transition: all 0.3s ease;
}
.menu li:hover>ul{
    left: 0;
    opacity: 1;
}



header {
    background-color: #f1f1f1;
    text-align: center;
    padding: 10px;
}
div.flex-container {
    display: flex;
    /* Show the flex items horizontally */
    flex-direction: row;
}

div.flex-container > div {
    margin: 10px;
    border: solid 1pt grey;
    border-radius: 10px;
    padding: 10px;
    flex: 1;
}

/* Use media query and show the flex items vertically if screen width is less than 600px */
@media screen and (max-width:600px) {
    div.flex-container {
        flex-direction: column;
    }
}
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f1f1f1;
    padding: 8px;
    text-align: center;
    z-index: 1000;
}
